
<app-add></app-add>

<div class="row" *ngIf="(productsSerivce.products$ | async) as products">
  <div class="w-100">
    <div class="alert alert-danger" *ngIf="errorMessage">Something serious happened on our other end :-(</div>
    <div class="col" *ngIf="!errorMessage">
      <app-tag-filter [products]="products" (tagSelected)="filterTagChanged($event)"></app-tag-filter>
    </div>
  </div>
  <ng-container *ngFor="let product of products">
    <app-product-item *ngIf="selectedTag === product.category || selectedTag === ''" [product]="product"></app-product-item>
  </ng-container>
</div>
